.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}