body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contect {
    background: white;
    padding: 25px;
    width: 1000px; /*kerentanan */
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

p {
    font-size: 18px;
    text-align: justify;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
}

button:first-of-type {
    background-color: #007BFF;
    color: white;
}

button:last-of-type {
    background-color: red;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.7s ease-in-out, transform 0.6s ease-in-out;
}

#hasil{
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-left: 4px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
}


